{% extends 'front/base.html' %}
{% load static %}

{% block content %}
<div class="wrapper">
    <div class="parallax filter-black">
        <div class="parallax-image">
            <img src="{% static 'front/img/makkah.jpeg' %}" alt="..." />
            
        </div>
        <div class="small-info">
        </div>
    </div>


    <div class="section section-description">
           <div class="container">
               <center><h2 class="section-title class="><b>Informasi Mengenai Pengembang</b></h2></center>
               <div class="row">
                    <div class="col-md-6">
                        <p align="justify">
                            Lahir di desa Rebaq Rinding, Kutai Kartenegara pada 14 Juli 2002, adalah seorang Mahasiswa dan seorang Trader forex dan cryptocurrency. ia adalah mahasiswa dari sekolah tinggi Fakultas Sains dan Teknologi Universitas Muhammadiyah Kalimantan Timur (UMKT) Samarinda dengan program study Teknik Informatika. Anak ke 3 dari 4 bersaudara ini lulusan SMA 1 Fillial Jantur.  </p>
                            <p align="justify">
                                <h4><b>NAMA : ANDI NUR HALIM</b></h4>
                                <h4><b>NIM : 2011102441038</b></h4>
                                <h4><b>PRODI : S1 TEKNIK INFORMATIKA</b></h4>
                                <h4><b>FAKULTAS : SAINS DAN TEKNOLOGI</b></h4>
                                <h4><b>ALAMAT : JLN. PULAU KERAMAT</b></h4>
                            </p>


                   </div>
                   <div class="col-md-6">
                        <div id="description-carousel" class="carousel fade" data-ride="carousel">
                              <!-- Wrapper for slides -->
                              <div class="carousel-inner">
                                <div class="item active">
                                  <img src="{% static 'front/img/fotoandi.jpg' %}" alt="..." />
                                </div>
                              </div>
                        </div>
                   </div>
                </div>

                <div class="space-50"></div>
                <hr>
                <div class="space-50"></div>





               </div>
           </div>
    </div><!-- section -->

<!-- PROJECT -->


<!-- Projects -->


     <div class="social-line">
         <div class="container">
            <div class="row">
                 <div class="col-md-3">
                     <a href="" class="btn btn-round btn-fill btn-social btn-facebook">
                         <i class="fa fa-facebook-square"></i> Facebook
                     </a>
                 </div>
                  <div class="col-md-3">
                     <a href="" class="btn btn-round btn-fill btn-social btn-twitter">
                         <i class="fa fa-twitter"></i> Twitter
                     </a>
                 </div>
                  <div class="col-md-3">
                     <a href="" class="btn btn-round btn-fill btn-social btn-google">
                         <i class="fa fa-google-plus-square"></i> Google+
                     </a>
                 </div>
                 <div class="col-md-3">
                     <a href="" class="btn btn-round btn-fill btn-social btn-pinterest">
                         <i class="fa fa-pinterest"></i> Pinterest
                     </a>
                 </div>
            </div>
         </div>
     </div>


    <footer class="footer footer-big">

            </div>
            <hr />
            <div class="copyright">
                &copy; Andi Nur Halim
            </div>
        </div>
    </footer>


</div> <!-- wrapper -->
{% endblock content %}

